* {
    margin: 0;
    padding: 0;
}

.resources {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    width: 25vw;

    background: #454545;
}

.editor {
    position: absolute;
    top: 0;
    left: 25vw;
    width: 75vw;

    padding: 4vh 5vw;
}

.editor .title {
    width: 65vw;
    display: block;

    margin-bottom: 2vh;

    font-size: 2rem;

    border: none;
}

.editor textarea {
    width: 65vw;
    min-height: 50vh;

    border: none;

    font-size: 1.2rem;
}

.editor .reset {
    display: block;
    height: 30px;
    width: 50px;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}